& when (@media-common = true) {

    .centered-button {
        text-align: center;
        display: inline-block;
    }

    .amazon-widget--address {
        margin-top: 20px;
    }

    .amazon-shipping-address {
        margin: 20px 0 0 20px;
    }
}