<!-- ko foreach: getRegion('before-widget-address') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<div class="amazon-widget-container" data-bind="visible: isAmazonAccountLoggedIn">
    <style type="text/css">
        #addressBookWidgetDiv{width: 400px; height: 228px;}
    </style>
    <div id="addressBookWidgetDiv" class="amazon-widget amazon-widget--address"></div>
</div>

<!-- ko foreach: getRegion('after-widget-address') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko ifnot: (isAmazonAccountLoggedIn) -->
    <!-- ko if: (isCustomerLoggedIn) -->
        <!-- ko if: (isAmazonEnabled) -->
            <div class="amazon-button-container">
                <div class="amazon-button-container__cell">
                    <div id="LoginWithAmazon" class="login-with-amazon" data-bind="mageInit: {'amazonButton':{'buttonType': 'PwA'}}"></div>
                </div>

                <div class="amazon-button-container__cell">
                    <div class="field-tooltip toggle">
                        <span class="field-tooltip-action action-help" data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true" data-bind="text: tooltip"></div>
                    </div>
                </div>
            </div>
        <!--/ko-->
    <!--/ko-->
<!--/ko-->
