<!-- ko foreach: getRegion('before-widget-address') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko if: (isAmazonAccountLoggedIn) -->
    <!-- ko if: (isCustomerLoggedIn) -->
            <div id="addressBookWidgetDiv" class="amazon-widget amazon-widget--address" data-bind="afterRender: initAddressWidget"></div>
        </div>
    <!--/ko-->
<!--/ko-->

<!-- ko foreach: getRegion('after-widget-address') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
