<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <amazon_payment>
                <enabled>0</enabled>
                <title>Amazon Payments</title>
                <sort_order>1</sort_order>
                <!-- payment gateway / processing defaults -->
                <debug>1</debug>
                <model>AmazonPaymentFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Amazon Payment</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <sort_order>1</sort_order>
            </amazon_payment>
        </payment>
    </default>
</config>
