<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <amazon_login>
                <enabled>0</enabled>
                <title>Amazon Login</title>
                <sort_order>1</sort_order>
            </amazon_login>
        </checkout>
    </default>
</config>
